In [6]:
weather = 'bad'

if weather == 'nice':
    print('Now the lawn')
    print('Weed the Garden')
    print('Take the dig for a walk')
else:
    print('Read a book')
    print('Watch movie')

Read a book
Watch movie

In [ ]:
x = 120

if x < 50:
    print ('first suite')
    print ('x is small')
else:
    print('second suite')
    print

In [7]:
age = 13
s = 'toddler' if age < 5 else ('teen' if age < 22 else 'adult')
s

'teen'

In [8]:
n = 5
while n > 0:   # 5 4 3 2 1 0>0? False
	n -= 1   # 4 3 2 1 0
	print(n) # 4 3 2 1 0

4
3
2
1
0

In [9]:
n = 5
while n > 0:                          # 5     4      3
    n -= 1                            # 4     3      2
    if n == 2:                        # false false  true
        break # Break Statement       # skip  skip   breakkk
    print(n)                          # 4     3
print('Loop ended.')

4
3
Loop ended.

In [10]:
n = 5
while n > 0:            # 5 4 3 2 1 0>0
    n -= 1              # 4 3 2 1 0
    if n == 2:          # F F T F F
        continue        # - - continue
    print(n)            # 4 3 - 1 0
print('Loop ended.')

4
3
1
0
Loop ended.

In [11]:
n = 5
while n > 2:      	 
	n -= 1
	print(n)
else:
	print('Loop done.')

4
3
2
Loop done.

In [12]:
n = 10
while n > 0:      	 
	n -= 1
	print(n)
else:
	n = 10

9
8
7
6
5
4
3
2
1
0

In [14]:
age = 36
gender = ','
if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daugther')
elif age >=18 and age <65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

mother

In [19]:
a = ['foo', 'bar']

while len(a):             	# 2           	#1           	#0 
    print(a.pop(0))       	# foo         	#bar      

    b = ['baz', 'qux']

    while len(b):         	# 2  	#1    	#2  	#1
        print('>', b.pop(0))  # >#baz   >#qux 	>#baz   > #qux

foo
> baz
> qux
bar
> baz
> qux

In [21]:
i = 0
while i < 4:
    print('i ', i)
    
    j = 1
    while j < 5:
        print('j ', j)
        if j == 2:
            print('will break')
            break
        j += 1
        
    i+=1

i  0
j  1
j  2
will break
i  1
j  1
j  2
will break
i  2
j  1
j  2
will break
i  3
j  1
j  2
will break

In [22]:
fruits = ['kiwi', 'peach', 'orange']
for item_in_fruits in fruits:
	print(item_in_fruits)

kiwi
peach
orange

In [25]:
# fruits = ['kiwi', 'peach', 'orange', 'watermelon']
fruits = ['kiwi']
for fruit in fruits:
	print(fruit)

kiwi

In [30]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print (k)

foo
bar
baz

In [31]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d.items():
    print (k)

('foo', 1)
('bar', 2)
('baz', 3)

In [32]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d.values():
    print (k)

1
2
3

In [33]:
d = {'foo': 1, 'bar': 2, 'baz': 3}

for k in d:  
	print(d[k])

1
2
3

In [34]:
x = range(5)

for i in x:
	print(i)

0
1
2
3
4

In [35]:
x = range(1, 100, 2)
   	 
for i in x:
	print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [36]:
for i in ['foo','bar','baz','qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux